body {
    background: #080808;
    color: #ffffff;
}

section {
    background: #f0f0f0;
    color: #000;
}

.section_block_1{
    background: #080808;
    color: #ffffff;
}

.section_block_2{

}

.section_block_3{

}

.section_block_4{

}

.section_block_5{

}